<h1>Edit Post</h1>

<%= form_for @post do |f| %>
    <div>
        <label>
            Title: <%=f.text_field :title %>
        </label>
    </div>
    <div>
        <label>
            Body: <%=f.text_area :body %>
        </label>
    </div>
    
    <%= f.submit %> 
    <%= link_to "Cancel", post_path(@post) %>
<% end %>